SWIFT_ACTIVE_COMPILATION_CONDITIONS = RELEASE
TMDB_API_BASE=https:\/\/api.themoviedb.org\/3
TMDB_API_KEY=10e0162832a4bbf3664cad7fbadaefaf
TMDB_API_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxMGUwMTYyODMyYTRiYmYzNjY0Y2FkN2ZiYWRhZWZhZiIsIm5iZiI6MTc1Nzg0ODI2Mi45MDIwMDAyLCJzdWIiOiI2OGM2YTJjNjM4Y2Q0NTZmOWZhMGYyNmMiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.1s4_Nthys6MU8Y0SKlZu_l8y3L2OQJ7-If3iKeVLNHc
